.btn-primary {
  border: 2px solid #999999;
  padding: 8px 32px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.9;
  color: white;
  background-color: #173e35;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background: #2b977e;
}
